fastapi==0.115.12
uvicorn[standard]==0.34.2
sqlalchemy==2.0.40
psycopg2-binary==2.9.10
pandas==2.2.3
reportlab==4.4.0
python-multipart==0.0.20
alembic
passlib[bcrypt]
python-jose
pytest
httpx
pytest-asyncio
docx2pdf; sys_platform == 'win32'
pywin32; sys_platform == 'win32'
